<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src='__PUBLIC__/style/jquery-1.7.2.min.js'></script>
	<script type="text/javascript" src="__PUBLIC__/style/layer/layer.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/style/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC__/style/css.css">
</head>
<body>
	<div class="bs-example frame" data-example-id="bordered-table" >
	<!-- <h2>工单分配</h2> -->
	<p class="bg-primary">工单项目分类</p>
	<div class="table_box">
		<table class="table table-bordered">
	      <thead>
	        <tr class="active">
	          <th>分类</th>
	          <th>操作</th>
	      	</tr>    
	      </thead>
	      <tbody>
	      	<tr align="center">
	      		<td >待匹配材料项目</td>
	      		
	      		<td><a href="__CONTROLLER__/noMatch">查看</a></td>
	      	</tr>
	      	<tr align="center">
	      		<td>待审核项目</td>
	      		
	      		<td><a href="__CONTROLLER__/waitAudit">查看</a></td>
	      	</tr>
	      	<tr align="center">
	      		<td>在审核项目</td>
	      		
	      		<td><a href="__CONTROLLER__/onAudit">查看</a></td>
	      	</tr>
	      	<tr align="center">
	      		<td>无版权材料项目</td>
	      		
	      		<td><a href="__CONTROLLER__/withoutCr">查看</a></td>
	      	</tr>
	      </tbody>
	    </table>
	</div>
   
   
  </div>

</body>
</html>