<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>欢迎界面</title>
       
       <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Robots" content="noindex,nofollow" />
    <link type="text/css" href="__PUBLIC__/css/main.css" rel="stylesheet" />
    <script language="javascript" type="text/javascript" src="__PUBLIC__/js/datepicker/WdatePicker.js"></script>
	<script src="__PUBLIC__/js/jquery-1.4.4.min.js"></script>
    
    </head>
    <body style="background:url(__PUBLIC__/images/background.png) repeat-x;">
        <div id="main-frame">
            <div style="margin-top:280px;width:80%;height:100%;margin-left:auto;margin-right:auto;padding:20px 0 20px 0; background:url(__PUBLIC__/images/1.jpg)"" >
            
            <p style="width:100%;text-align:center;color:red;font-size:36px;font-family:Microsoft Yahei;">欢迎使用版权审核数据管理信息系统</p>
         </div>
        </div>
        <!--main-frame end-->
    </body>
</html>
